numpy
scipy
soundfile
pydub
noisereduce
tqdm
torch
openai-whisper
transformers
sentencepiece
accelerate
TTS
demucs
openai
matplotlib
sentence-transformers
scikit-learn
jiwer
resemblyzer
googletrans==4.0.0rc1
pytest
